{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="icon" href="{% static '/imgs/projectname.jpg' %}">
    <link rel="stylesheet" href="{% static '/plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <title>CRM管理系统</title>
    {% block css %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            {#          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
            {#            <span class="sr-only">Toggle navigation</span>#}
            {#            <span class="icon-bar"></span>#}
            {#            <span class="icon-bar"></span>#}
            {#            <span class="icon-bar"></span>#}
            {#          </button>#}
                        <img src="{% static '/imgs/projectname.jpg' %}" alt="" height="40" width="40" style="margin-top: 5px;float: left">
            <a class="navbar-brand" href="#">CRM管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <div class="btn-group nav navbar-nav navbar-right">
{#                <button type="button" class="btn btn-danger">Action</button>#}
{#                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                        aria-expanded="false">#}
{#                    <span class="caret"></span>#}
{#                    <span class="sr-only">Toggle Dropdown</span>#}
{#                </button>#}
                <img class="img-circle" height="40px" width="50px" style="margin-top: 5px;margin-right: 5px" src="{% static '/imgs/headphoto.jpeg' %}" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <ul class="dropdown-menu">
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">修改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">注销</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">任务 <i class="fa fa-bell" aria-hidden="true">&nbsp;</i> <span class="badge">4</span></a>
                </li>
                <li><a href="#">通知 <i class="fa fa-id-card" aria-hidden="true">&nbsp;</i> <span
                        class="badge">3</span></a></li>
                <li><a href="#">消息 <i class="fa fa-telegram" aria-hidden="true">&nbsp;</i><span
                        class="badge">1</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'customer' %}">客户列表 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'mycustomer' %}">我的客户 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'consultrecord' %}">跟进记录 <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static '/js/jQuery.js' %}"></script>
<script src="{% static '/plugins/bootstrap-3.3.7/js/bootstrap.js' %}"></script>
{% block js %}

{% endblock %}


</body>
</html>